@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Cores claras (modo padrão) */
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-primary: #2563eb;

  /* Dark mode */
  .dark {
    --color-bg: #111111;
    --color-text: #f9fafb;
    --color-primary: #3b82f6;
  }
}